<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="Importfile1" value="" />
    <add key="Exportfile1" value="" />
    <add key="Importfile2" value="" />
    <add key="Exportfile2" value="" />
    <add key="Importfile3" value="" />
    <add key="Exportfile3" value="" />
    <add key="Logfile" value="" />
    <add key="CodePage" value="0" />
    <!-- AnonimizeColumnNumbers: geef de kolomnummers die in de csv output als lege waarde moeten worden opgenomen. Betreft een komma gescheiden waarde; eerste kolom=1 -->
    <add key="AnonymizeColumnNumbers" value="9,10,11,12,13,14,15,16,17,18,19,20,21" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>